* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
   
}
.html {
    font-size: 62.5%;
}
body {
    width:100vw;
    height: 100vh;
    
}

.form-main {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.form-title {
    font-size: 1.6rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #007598;
    width: 40%;
    font-size: 1.2rem;
    padding: 5% 3%;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.label input {
    font-size: 1rem;
    height: 35px;
    padding-left: 5px;
    background-color: #fff;
    border-style: none; 
    color: #555;
}


.login-form span {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.14rem;
}

.btnLogin {
    width: 100%;
    height: 45px;
    background-color: #3fa27f;
    border-style: none;
    color: #fff;
}

.regBtn {
    width: 100%;
    height: 45px;
    background-color: #ffbb00;
    border-style: none;
    color: #000;
    margin-top: 1rem;
}
.googleBtnIn {
    width: 100%;
    height: 45px;
    background-color: green;
    border-style: none;
    color: #fff;
    margin-top: 1rem;
}
.googleBtnOut {
    width: 100%;
    height: 45px;
    background-color: red;
    border-style: none;
    color: #fff;
    margin-top: 1rem;
}

.infoSocialExtras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 3.5%;
    margin-top: 7%;
}

.infoSocialExtras p {
    margin-bottom: 5%;
    
}
.infoSocialExtras a {
    text-decoration: none;
    color: #fff;
}

