
.container {
    padding: 1.6%;
    height: 351px;
    margin-bottom: 10%;
}



.login-form {
    padding: 6%;
    width: 70%;
    height: 400px;
    
}
.login-form span {
    font-size: 1.6rem;
}

header {
    height: 11%;
}
h1 {
    font-size: 3.2rem;
}
    
