* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.html {
    font-size: 62.5%;
}
body {
    width:100vw;
    height: 100vh;
    font-family:  Arial, Helvetica, sans-serif
}


.header {
    width: 100vw;
    height: 100px;
    background-color: #3fa27f;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px,1fr));
    width: 100vw;
    height: auto;
    max-width: 1230px;
    margin-left:auto;
    margin-right: auto;
    flex-grow: 1;
    
}

.charContainer {

    padding: 0.6%;
    margin: 5px;
    width: 270px;
    height: 97.3%;
    background-color: #fff;
}

.charContainer > img {
    object-fit: cover;
    width: 100%;
}

.characterInfo {
    list-style: none;
}

.characterInfo li {
    padding: 5px;
}

.liName {
    background-color: #6b94c7;

}

.liGender {
    background-color: #c2e7da;
}
.liDim {
    background-color: #f1ffe7;
}
.infoBtn {
    width: 100%;
    height: 50px;
    background-color: #F5D5CC;
    border: none;
    font-size: 1.2rem;   
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4%;
    width: 100%;
    height: 90px;
    background-color: #3fa27f;
}
.testBtn {
    border: 1px solid #fff;
    width: 8%;
    height: 95%;
    background-color: #FFB60A;
    padding: 2px;
    border-radius: 5px;
       
    
}

/* .details, .classBtn {
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
} */