/* ********************* General Styles********************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
    /* background-color: blue; */
}

body {
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* background-color: red; */
    
}

/* ********************* General Styles********************* */


header {
    text-align: center;
    padding: 1.1%;
    font-size: 1.6rem;
    width: 100%;
    height: 16%;
    background-color: #3fa27f;
    color: #fff;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(212px,1fr));
    width: 100vw;
    height: auto;
    max-width: 1280px;
    margin-left:auto;
    margin-right: auto;
    flex-grow: 1;
    grid-gap: 10px;
    
}

.container {
    
    padding: 0.6%;
    margin: 5px;
    width: 97.3%;
    height: 97.3%;
    background-color: #fff;
}

/* Estilo de las fichas de characters */

.character-info {
    list-style: none;
}

.details, .classBtn {
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
}

.liName {
    background-color: #6b94c7;

}

.liGender {
    background-color: #c2e7da;
}
.liDim {
    background-color: #f1ffe7;
}

.classBtn, .btn1Style {
    background-color: #F5D5CC;
    border-style: none;
}

/***************** Estilo de la pantalla de Login *******************/


.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 7%;
    
    
}
.form-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 2%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #007598;
    width: 100%;
    height: 300px;
    padding: 0 5%;

}

.login-form span {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.login-form input {
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.email, .password {
    font-size: 14px;
    height: 35px;
    padding-left: 5px;
    background-color: #fff;
    border-style: none; 
    color: #555;
}

.btnLogin {
    width:100%;
    background-color: #3fa27f;
    color: #fff;
    border: none;
    padding:  15px;
    margin-top: 15px;
    cursor: pointer;
}

.infoSocialExtras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 3.5%;
    
}
.infoSocialExtras p {
    margin-bottom: 5%;
    
}
.infoSocialExtras a {
    text-decoration: none;
    color: #fff;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4%;
    width: 100%;
    height: 90px;
    background-color: #3fa27f;
    
}

.testBtn {
    border: 1px solid #fff;
    width: 8%;
    height: 95%;
    background-color: #FFB60A;
    padding: 2px;
    border-radius: 5px;
       
    
}